[package]
name = "cargo-sample"
description = "A cargo subcommand to quickly set you up with a new rust project based on a crate example"
license = "MIT"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.93"
clap = { version = "4.5.21", features = ["derive"] }
tempfile = "3.14.0"
